body {
    background-image: url("../img/circle.jpg");
}

.jumbotron {
    background-color: lightblue;
    background-position: center center;
    border: 1px solid black;
}

#center {
    margin: auto;
    text-align: center;
}

img {
    float: right;
    height: auto;
    width: 140px;
    border: 2px solid black;
}

.hide {
    display: none;
}

.box {
    width: 300px;
    border: 15px black;
    background-color: white;
    padding: 50px;
    margin: 20px;
    border: 2px solid black;
}